.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!backend/src/jvmMain/**/build/
!core/src/commonTest/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!backend/src/jvmMain/**/bin/
!core/src/commonTest/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!backend/src/jvmMain/**/out/
!core/src/commonTest/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/